table {
  display: flex;
  width: 65%;
  /* background-color: #D2EBCD; green */
  background-color: rgba(210, 235, 205, .6);
  margin: 0 auto 50px auto;
  border-radius: 10px;
  border: 2px solid #394A51;
  color: #394A51;
}

tbody {
  width: 100%;
}

.TableHeader {
  width: 100%;
}

.FtpInputBox {
  padding: 10px 18px;
  font-size: 1rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .7);
}

.GetZonesButton {
  padding: 10px;
  border-radius: 20px;
  margin: 15px 0 15px 15px;
  font-weight: 700;
  color: #394A51;
  font-size: .9rem;
  background-color: rgba(255, 255, 255, .7);
  border: 2px solid #394A51;
  transition: background-color 0.5s ease-out;
}

.GetZonesButton:hover {
  cursor: pointer;
  background-color: #FDC57B;
}

.GetZonesButton:focus {
  outline:0;
}

.ResetZonesButton {
  padding: 10px;
  border-radius: 20px;
  margin: 15px 0 15px 15px;
  font-weight: 700;
  color: #394A51;
  font-size: .9rem;
  background-color: rgba(255, 255, 255, .7);
  border: 2px solid #394A51;
  transition: background-color 0.5s ease-out;
}

.ResetZonesButton:hover {
  cursor: pointer;
  background-color: #FDC57B;
}

.ResetZonesButton:focus {
  outline:0;
}

.TableZones {
  font-family: 'Roboto Condensed', sans-serif;
  width: 50%;
}

tr {
	letter-spacing: 1px;
	line-height: 45px;
	font-size: 21px;
}

tr:nth-child(even) {
	/*background-color: #FBF2D5;*/
	background-color: rgba(255, 255, 255, .7);
}