.zoneInfoSectionWrapper {
  background-color: rgba(78, 65, 59, 0.3);
  width: 100%;
  margin-top: 0px;
  padding-bottom: 20px;
  overflow: hidden;

}

.zoneInfoSectionSmallWrapper {
  background-color: #394A51;
  /*background-color: #FBF2D5;*/
  max-width: 1200px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  }

.sectionHeader {
  text-align: center;
  font-size: 44px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: #FDC57B;
  padding: 15px 0 15px 0;
  }

hr {
  border: 1px solid #FDC57B;
  width: 70%;
  margin-bottom: 30px;
  }

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 20px 0 20px;
  opacity: 1;
  transition: all 600ms ease-in;
  transform: scale(1.03);
  }

.column {
  width: 100%;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, .7); 
  text-align: center;
  line-height: 1.7;
  color: #394A51;
  font-size: 18px;
  padding: 10px 10px 0 10px;
  }

.titleForEachZone {
  font-size: 28px;
  font-weight: 300;
  background-color: #D2EBCD;
  }

.js-row-animate {
  opacity: 1;
  transform: scale(1);
  }

@media(min-width: 767px) {
  .column {
    width: 45%;
  }
}

@media(min-width: 1000px) {
  .column {
    width: 30%;
  }
}