body {
  font-family: 'Raleway', sans-serif;
}
.tableWrapper {
    /* The image used */
    background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url('./Images/road.jpg');

    /* Full height */
    height: 100%; 

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.CustomZonesButtonWrapper {
  text-align: center;

}

.CustomZonesWrapper {
  text-align: center;
}